@font-face {
  font-family: "Gilroy-Black";
  src: url(font-gilroy/Gilroy-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(font-gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(font-gilroy/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url(font-gilroy/Gilroy-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(font-gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(font-gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(font-gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(font-gilroy/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url(font-gilroy/Gilroy-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-UltraLight";
  src: url(font-gilroy/Gilroy-UltraLight.ttf) format("truetype");
}

/**************************************************************/
/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 17px;
  color: #333333;
}

h1 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 50px;
}

a {
  color: #333333;
  font-family: "Gilroy-Bold", sans-serif;
  text-decoration: none;
}

/**************************************************************/
/* Nav bar */

nav {
  background-color: #fff;
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  /* position: sticky;
  top: 0; */
}

div .logo img {
  width: 253px;
  height: 40px;
}

#nav-bar .logo {
  display: flex;
  margin-left: 6%;
  flex: 1;
}

#nav-bar .nav-bar-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  margin-right: 6%;
  justify-content: flex-end;
  height: 46px;
}

#nav-bar .nav-bar-menu a {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 17px;
  margin: 0px 0px 0px 2.5px;
}

#nav-bar .nav-bar-menu i {
  display: inline-block;
  margin-top: -50px;
  padding-left: 5px;
}

#nav-bar .nav-bar-menu .join-contact {
  color: #8498a2;
}

.nav-button-p {
  padding: 13px 20px;
}

.button-orange {
  background-color: #f5b32f;
  border-radius: 5px;
}

/**************************************************************/
/* Slides */

#image-slides,
#cta {
  display: flex;
  justify-content: center;
}

#image-slides {
  margin-top: 40px;
}

#image-slides .left-side-one,
#image-slides .left-side-two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

#image-slides .left-side-one img,
#image-slides .left-side-two img {
  object-fit: cover;
  height: 200px;
  width: 265px;
}

#image-slides .left-side-one img:nth-child(1),
#image-slides .left-side-two img:nth-child(1) {
  margin-bottom: 10px;
}

#image-slides .right-side {
  display: flex;
  padding: 10px;
  position: relative;
}

#image-slides .right-side img {
  object-fit: cover;
  width: 550px;
  height: auto;
}

#image-slides .right-side h1 {
  color: #fff;
  font-size: 63px;
  position: absolute;
  text-align: right;
  line-height: 1;
  top: 280px;
  right: 30px;
}

/**************************************************************/
/* CTA */

#cta {
  margin: 0 0px 60px 0;
}

#cta .cta-size {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: 570px;
}

#cta h2,
h3 {
  color: #274b9e;
}

#cta h2 {
  font-size: 32px;
  font-family: "Gilroy-Bold", sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
}

#cta h3 {
  font-size: 30px;
  margin-bottom: 35px;
}

#cta a {
  font-family: "Gilroy-Bold", sans-serif;
  color: #333333;
}

.button-p {
  padding: 12px 24px;
}

/**************************************************************/
/* Big img */

.big-class-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/**************************************************************/
/* New cta individual and business*/

#cta-individual {
  background-color: #fff;
  padding-bottom: 100px;
}

#cta-business {
  background-color: #f6f6f6;
  padding-top: 1px;
  padding-bottom: 100px;
}

#cta-individual .cta-head,
#cta-business .cta-head,
#dates .section-dates .dates-header,
#events .section-events .events-head {
  text-align: center;
}

#cta-individual .cta-head h2,
#cta-business .cta-head h2,
#dates .section-dates .dates-header h2,
#events .section-events .events-head h2 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 86px;
  margin-top: 100px;
  margin-bottom: -10px;
}

#cta-individual .cta-head h3,
#cta-business .cta-head h3,
#dates .section-dates .dates-header h3,
#events .section-events .events-head h3 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  margin-bottom: 50px;
}

#cta-individual .cta-body,
#cta-business .cta-body {
  display: flex;
  justify-content: center;
}

#cta-individual .cta-body .cta-text,
#cta-business .cta-body .cta-text {
  font-family: "Gilroy-Medium", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 535px;
}

#cta-individual .cta-body .cta-text p {
  margin-bottom: 15px;
}

#cta-business .cta-body .cta-text h6,
#about .section-about .about-text .about-left-text h6,
#about .section-about .about-text .about-right-text h6 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 22px;
}

#cta-individual .cta-body .cta-text .cta-text-button,
#cta-business .cta-body .cta-text .cta-text-button {
  margin-top: 50px;
  padding-bottom: 10px;
}

#cta-individual .cta-body .cta-side,
#cta-business .cta-body .cta-side {
  padding: 10px;
  width: 605px;
}

#cta-individual .cta-body .cta-side img,
#cta-business .cta-body .cta-side img {
  object-fit: cover;
  height: 100%;
  width: 585px;
}

/**************************************************************/
/* About */

#about,
#about .about-text,
#dates,
#events {
  display: flex;
  justify-content: center;
}

#about .section-about {
  width: 800px;
  padding: 10px;
}

#about .about-header,
#about .about-button {
  text-align: center;
}

#about .about-text {
  margin-top: 20px;
}

#about .about-header h1 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 86px;
  margin-top: 30px;
}

#about span {
  font-family: "Gilroy-Bold", sans-serif;
  color: #f5b32f;
}

#about p {
  line-height: 1.5;
}

#about .section-about .about-text .about-left-text {
  padding-right: 15px;
}

#about .section-about .about-text .about-left-text,
#about .section-about .about-text .about-right-text {
  width: 382px;
}

#about .section-about .about-text .about-left-text h6,
#about .section-about .about-text .about-right-text h6,
#about .section-about .about-text .about-left-text p,
#about .section-about .about-text .about-right-text p {
  margin-bottom: 15px;
}

#about .about-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

#about .about-button i {
  font-size: 14px;
  margin-left: 5px;
}

#about .about-button .about-btn {
  background-color: #fff;
  border: 3px solid #f5b32f;
  border-radius: 5px;
  font-size: 16px;
}

/**************************************************************/
/* Dates */

#dates .section-dates .dates-header h2,
#events .section-events .events-head h2 {
  margin-top: 50px;
  margin-bottom: 0px;
}

#dates .section-dates .dates-text,
#events .section-events .events-text {
  display: flex;
  justify-content: center;
}

#dates .section-dates .dates-text div {
  border-left: 2px solid #e0e0e0;
  padding: 10px;
  width: 285px;
}

#dates .section-dates .dates-text h6,
#events .section-events .events-text h6 {
  color: #f5b32f;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
}

#dates .section-dates .dates-text h6,
#dates .section-dates .dates-text p,
#events .section-events .events-text h6,
#events .section-events .events-text p {
  margin-bottom: 15px;
}

#dates .section-dates .dates-text .text-four .last-p {
  margin-bottom: 0px;
}

#dates .section-dates .dates-text p {
  color: #274b9e;
}

#dates .dates-button {
  margin-top: 70px;
  margin-bottom: 35px;
}

#dates .dates-button a {
  font-size: 15px;
}

#dates .dates-button a:nth-child(1) {
  border: 3px solid #f5b32f;
}

#dates .dates-btn-orange {
  background-color: #fff;
  border: 3px solid #f5b32f;
  border-radius: 5px;
}

/**************************************************************/
/* Upcoming events */

#events {
  background-color: transparent;
  background-image: linear-gradient(135deg, #274b9e 50%, #237ab8 100%);
}

#events .section-events {
  padding-bottom: 90px;
}

#events .section-events .events-head h2,
#events .section-events .events-head h3,
#events .section-events .events-text p {
  color: #fff;
  line-height: 1.5;
}

#events .section-events .events-text p {
  font-size: 16px;
  margin-bottom: 30px;
}

#events .section-events .events-text div {
  border-left: 2px solid #265ca7;
  padding: 0 20px 0px 20px;
  width: 370px;
}

#events .section-events .events-text .text-two h6:nth-child(2) {
  color: #fff;
}
