@font-face {
  font-family: "Gilroy-Black";
  src: url(font-gilroy/Gilroy-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(font-gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(font-gilroy/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url(font-gilroy/Gilroy-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(font-gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(font-gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(font-gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(font-gilroy/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url(font-gilroy/Gilroy-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-UltraLight";
  src: url(font-gilroy/Gilroy-UltraLight.ttf) format("truetype");
}

/**************************************************************/
/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 17px;
  color: #333333;
}

h1 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 50px;
}

a {
  color: #333333;
  font-family: "Gilroy-Bold", sans-serif;
  text-decoration: none;
}

/**************************************************************/
/* Nav bar */

nav {
  background-color: #fff;
  height: 80px;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  top: 0;
  position: fixed;
  z-index: 10;
}

.logo img {
  width: 253px;
  height: 40px;
}

#nav-bar .logo {
  display: flex;
  margin-left: 6%;
  flex: 1;
}

#nav-bar .nav-bar-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  margin-right: 6%;
  justify-content: flex-end;
  height: 46px;
}

#nav-bar .nav-bar-menu a {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 17px;
  margin: 0px 0px 0px 2.5px;
}

#nav-bar .nav-bar-menu i {
  display: inline-block;
  margin-top: -50px;
  padding-left: 5px;
}

#nav-bar .nav-bar-menu a:last-child {
  display: none;
}

#nav-bar .nav-bar-menu .join-contact {
  color: #8498a2;
}

.nav-button-p {
  padding: 13px 20px;
}

.button-orange {
  background-color: #f5b32f;
  border-radius: 5px;
}

/**************************************************************/
/* Slides */

#image-slides,
#cta {
  display: flex;
  justify-content: center;
  max-width: 95vw;
}

#image-slides {
  margin-top: 120px;
}

#image-slides .left-side-one,
#image-slides .left-side-two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

#image-slides .left-side-one img,
#image-slides .left-side-two img {
  object-fit: cover;
  height: 200px;
  width: 265px;
  max-width: 100%;
}

#image-slides .left-side-one img:nth-child(1),
#image-slides .left-side-two img:nth-child(1) {
  margin-bottom: 10px;
}

#image-slides .right-side {
  display: flex;
  padding: 10px;
  position: relative;
}

#image-slides .right-side img {
  object-fit: cover;
  width: 550px;
  height: auto;
  max-width: 100%;
}

#image-slides .right-side h1 {
  color: #fff;
  font-size: 63px;
  position: absolute;
  text-align: right;
  line-height: 1;
  bottom: 20px;
  right: 20px;
}

/**************************************************************/
/* CTA */

#cta {
  margin: 0 0px 60px 0;
}

#cta .cta-size {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: 570px;
}

#cta h2,
h3 {
  color: #274b9e;
}

#cta h2 {
  font-size: 32px;
  font-family: "Gilroy-Bold", sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
}

#cta h3 {
  font-size: 30px;
  margin-bottom: 35px;
}

#cta a {
  font-family: "Gilroy-Bold", sans-serif;
  color: #333333;
}

.button-p {
  padding: 12px 24px;
}

/**************************************************************/
/* Big img */

.big-class-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/**************************************************************/
/* New cta individual and business*/

#cta-individual {
  background-color: #fff;
  padding-bottom: 100px;
}

#cta-business {
  background-color: #f6f6f6;
  padding-top: 1px;
  padding-bottom: 100px;
  margin: 0 auto;
}

#cta-individual .cta-head,
#cta-business .cta-head,
#dates .section-dates .dates-header,
#events .section-events .events-head,
#faq .section-faq .faq-head {
  text-align: center;
}

#cta-individual .cta-head h2,
#cta-business .cta-head h2,
#dates .section-dates .dates-header h2,
#events .section-events .events-head h2,
#faq .section-faq .faq-head h2 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 86px;
  margin-top: 100px;
  margin-bottom: -10px;
}

#cta-individual .cta-head h3,
#cta-business .cta-head h3,
#dates .section-dates .dates-header h3,
#events .section-events .events-head h3 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
  margin-bottom: 50px;
}

#cta-individual .cta-body,
#cta-business .cta-body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

#cta-individual .cta-body .cta-text,
#cta-business .cta-body .cta-text {
  font-family: "Gilroy-Medium", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 535px;
}

#cta-individual .cta-body .cta-text p {
  margin-bottom: 15px;
}

#cta-business .cta-body .cta-text h6,
#about .section-about .about-text .about-left-text h6,
#about .section-about .about-text .about-right-text h6 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 22px;
}

#cta-individual .cta-body .cta-text .cta-text-button,
#cta-business .cta-body .cta-text .cta-text-button {
  margin-top: 50px;
  padding-bottom: 10px;
}

#cta-individual .cta-body .cta-side,
#cta-business .cta-body .cta-side {
  padding: 10px;
  width: 605px;
  max-width: 50%;
}

#cta-individual .cta-body .cta-side img,
#cta-business .cta-body .cta-side img {
  object-fit: cover;
  height: 100%;
  width: 585px;
  max-width: 100%;
}

/**************************************************************/
/* About */

#about,
#about .about-text,
#dates,
#events,
#faq,
#contact,
#footer {
  display: flex;
  justify-content: center;
}

#about .section-about {
  width: 800px;
  padding: 10px;
  max-width: 100vw;
}

#about .about-header,
#about .about-button {
  text-align: center;
}

#about .about-text {
  margin-top: 20px;
}

#about .about-header h1 {
  color: #274b9e;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 86px;
  margin-top: 30px;
}

#about span {
  font-family: "Gilroy-Bold", sans-serif;
  color: #f5b32f;
}

#about p {
  line-height: 1.5;
}

#about .section-about .about-text .about-left-text {
  padding-right: 15px;
}

#about .section-about .about-text .about-left-text,
#about .section-about .about-text .about-right-text {
  width: 382px;
}

#about .section-about .about-text .about-left-text h6,
#about .section-about .about-text .about-right-text h6,
#about .section-about .about-text .about-left-text p,
#about .section-about .about-text .about-right-text p {
  margin-bottom: 15px;
}

#about .about-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

#about .about-button i {
  font-size: 14px;
  margin-left: 5px;
}

#about .about-button .about-btn {
  background-color: #fff;
  border: 3px solid #f5b32f;
  border-radius: 5px;
  font-size: 16px;
}

/**************************************************************/
/* Dates */

#dates .section-dates .dates-header h2,
#events .section-events .events-head h2,
#faq .section-faq .faq-head h2 {
  margin-top: 50px;
  margin-bottom: 0px;
}

#dates .section-dates .dates-text,
#events .section-events .events-text {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 100vw;
}

#dates .section-dates .dates-text div {
  border-left: 2px solid #e0e0e0;
  padding: 10px;
  width: 285px;
}

#dates .section-dates .dates-text h6,
#events .section-events .events-text h6 {
  color: #f5b32f;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 20px;
}

#dates .section-dates .dates-text h6,
#dates .section-dates .dates-text p,
#events .section-events .events-text h6,
#events .section-events .events-text p {
  margin-bottom: 15px;
}

#dates .section-dates .dates-text .text-four .last-p {
  margin-bottom: 0px;
}

#dates .section-dates .dates-text p {
  color: #274b9e;
}

#dates .dates-button {
  margin-top: 70px;
  margin-bottom: 35px;
}

#dates .dates-button a {
  font-size: 15px;
}

#dates .dates-button a:nth-child(1) {
  border: 3px solid #f5b32f;
}

#dates .dates-btn-orange {
  background-color: #fff;
  border: 3px solid #f5b32f;
  border-radius: 5px;
}

/**************************************************************/
/* Upcoming events */

#events {
  background-color: transparent;
  background-image: linear-gradient(135deg, #274b9e 50%, #237ab8 100%);
}

#events .section-events {
  padding-bottom: 90px;
  max-width: 100vw;
}

#events .section-events .events-head h2,
#events .section-events .events-head h3,
#events .section-events .events-text p {
  color: #fff;
  line-height: 1.5;
}

#events .section-events .events-text p {
  font-size: 16px;
  margin-bottom: 30px;
}

#events .section-events .events-text div {
  border-left: 2px solid #265ca7;
  padding: 0 20px 0px 20px;
  width: 370px;
}

#events .section-events .events-text .text-two h6:nth-child(2) {
  color: #fff;
}

/**************************************************************/
/* FAQ */

hr {
  border-top: 0.1px solid #d4d4d4;
  opacity: 60%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#faq .section-faq {
  padding: 10px;
  max-width: 100vw;
}

#faq .section-faq .faq-head h2 {
  margin-bottom: 45px;
}

#faq .section-faq .faq-body {
  width: 1140px;
  padding: 10px;
}

#faq .section-faq .faq-body p {
  font-family: "Gilroy-Bold", sans-serif;
  padding: 0 0 0 15px;
}

#faq .section-faq .faq-body i {
  margin-right: 10px;
}

/**************************************************************/
/* Contact */

#contact .section-contact {
  display: flex;
  padding: 10px;
  margin-top: 60px;
}

#contact .section-contact ul {
  list-style-type: none;
}

#contact .section-contact ul li {
  margin-bottom: 15px;
}

#contact .section-contact .first-ul {
  margin-bottom: 40px;
}

#contact .section-contact .part-one,
#contact .section-contact .part-two,
#contact .section-contact .part-three {
  padding: 10px;
  width: 380px;
}

#contact .section-contact h6 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 22px;
  margin-bottom: 15px;
}

#contact .section-contact a {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

#contact .last-ctt {
  margin-bottom: 100px;
}

#contact .section-contact .part-three .contact-icons {
  display: flex;
  align-items: center;
}

#contact .section-contact .part-three .icon {
  background-color: #000;
  border-radius: 50px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .section-contact .part-three .icon i {
  color: #fff;
  font-size: 30px;
}

#contact .section-contact .part-three .icon:nth-child(1) {
  background-color: #3b5998;
}

#contact .section-contact .part-three .icon:nth-child(2) {
  background-color: #0077b5;
}
#contact .section-contact .part-three .icon:nth-child(3) {
  background-color: #cd201f;
}

#contact .section-contact .part-three .icon:nth-child(4) {
  background-color: #1da1f2;
}

#contact .section-contact .part-three .icon:nth-child(5) {
  background-color: #262626;
}

/**************************************************************/
/* Footer */

footer {
  background-color: #1c1c1c;
}
#footer .footer {
  display: flex;
  margin: 40px 0px 40px 0px;
  padding: 10px;
}

#footer .footer p,
#footer .footer a {
  color: #fff;
  font-size: 16px;
  font-family: "Gilroy-Medium", sans-serif;
}

#footer .footer .footer-one img {
  height: 40px;
  width: 265px;
  margin-bottom: 15px;
}

#footer .footer .footer-one p:nth-child(2) {
  color: #f5b32f;
}

#footer .footer .footer-one,
#footer .footer .footer-two {
  text-align: left;
  width: 285px;
}

#footer .footer .footer-three {
  text-align: right;
  width: 570px;
}
#footer .footer .footer-two p {
  margin-bottom: 2.5px;
}

#footer .footer .footer-three p {
  margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #events .section-events .events-text {
    flex-direction: column;
  }

  #events .section-events .events-text div {
    width: auto;
    margin-bottom: 50px;
  }

  #events .section-events .events-head h2 {
    font-size: 78px;
    line-height: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 800px) {
  /* Nav bar */
  .logo img {
    margin-top: 20px;
    width: 350px;
    height: auto;
  }

  #nav-bar .nav-bar-menu .hid {
    display: none;
  }

  #nav-bar .nav-bar-menu a:last-child {
    font-size: 32px;
    display: block;
    margin-right: 5%;
  }

  /* Slides */

  #image-slides {
    display: flex;
    flex-direction: column;
  }

  #image-slides .left-side-one {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
  }

  #image-slides .left-side-one img {
    width: 50%;
    height: 150px;
    object-fit: cover;
  }

  #image-slides .left-side-one img:nth-child(1) {
    margin-right: 10px;
  }

  #image-slides .left-side-two {
    display: none;
  }

  #image-slides .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #image-slides .right-side img {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  #image-slides .right-side h1 {
    /* font-size: 40px; */
  }

  /* CTA */
  #cta h2 {
    font-size: 28px;
  }
  #cta h3 {
    font-size: 26px;
  }

  /* New cta individual and business*/
  #cta-individual .cta-body,
  #cta-business .cta-body {
    flex-direction: column;
  }

  #cta-individual .cta-body .cta-side,
  #cta-business .cta-body .cta-side {
    max-width: 100%;
  }
  #cta-individual .cta-body .cta-text,
  #cta-business .cta-body .cta-text {
    width: auto;
  }

  #cta-individual .cta-body .cta-text .cta-text-button,
  #cta-business .cta-body .cta-text .cta-text-button {
    text-align: center;
  }
  /* About */
  #about .about-text {
    flex-direction: column;
    align-items: center;
  }

  #about .section-about .about-text .about-left-text {
    padding-right: 0px;
  }
  #about .section-about .about-text .about-left-text,
  #about .section-about .about-text .about-right-text {
    padding: 0 20px;
    width: 100vw;
  }
  /* Dates */

  #dates .section-dates {
    padding: 100px;
  }

  #dates .section-dates .dates-text {
    flex-direction: column;
  }

  #dates .section-dates .dates-text div {
    width: auto;
  }

  #dates .dates-button {
    text-align: center;
  }

  /* Upcoming events */
  #events .section-events .events-text a {
    font-size: 13px;
  }

  /* FAQ */

  #faq .section-faq .faq-head h2 {
    font-size: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  /* Nav bar */
  .logo img {
    width: 200px;
    height: 30px;
  }
  #nav-bar .logo {
    margin-left: 3%;
  }
  #nav-bar .nav-bar-menu {
    margin-right: 3%;
  }
  #nav-bar .nav-bar-menu a {
    font-size: 15px;
    margin: 0px 0px 0px 5px;
  }
  .nav-button-p {
    padding: 10px 15px;
  }

  /* Slides */
  #image-slides .left-side-one img,
  #image-slides .left-side-two img {
    max-height: 110px;
  }

  #image-slides .right-side img {
    max-height: 230px;
  }

  #image-slides .right-side h1 {
    font-size: 52px;
  }

  /* New cta individual and business*/
  #cta-individual .cta-body .cta-side img,
  #cta-business .cta-body .cta-side img {
    height: 100%;
  }
}
